<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>How to play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col class="ion-text-center">
    <ion-text>
      <p>The Goal of the game is to defeat all the enemies and exit the maze with the highest score posible</p>
      <p>You can navigate through the rooms with the North, South, East, West buttons</p>
      <p>Be careful, there are trolls blocking certain passages, but you will not know which ones. You must defeat them before you can continue that path.</p>
      <p>Defeat the trolls with arrows that can be found in some rooms, you can obntain them with the 'Collect Arrow' button. To use them, click the 'Attack' button.</p>
      <p>To increase your score, there are coins in each room to collect. Click the 'Collect Coin' button to obtain the coin</p>
      <p>Once all Trolls have been defeated, you must find the exit and then the game will end.</p>
    </ion-text>
  </ion-col>
</ion-row>
</ion-content>
