<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
    <ion-text>Trolls: {{enemiesLeft}} </ion-text>
    <ion-text> Score: {{playerScore}}</ion-text>
    <ion-text> Arrows: {{playerArrows}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="9">

      <ion-card *ngIf="roomA">
        <ion-card-header>
          <ion-title>Room A</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <p *ngIf="!trollA">There is a troll in this room! Be carefull!</p>
            <p *ngIf="arrowA > 0">There is {{arrowA}} arrow in this room</p>
            <p *ngIf="trollA && !arrowA">This room is empty, keep going!</p>
            <p *ngIf="!enemiesLeft">Find the Exit!</p>
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="roomB">
        <ion-card-header>
          <ion-title>Room B</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <p *ngIf="!trollB">There is a troll in this room!</p>
            <p *ngIf="arrowB > 0">There is {{arrowB}} arrow in this room</p>
            <p *ngIf="coinB">There is a silver coin</p>
            <p *ngIf="trollB && !arrowB && !coinB">This room is empty, keep going!</p>
            <p *ngIf="!enemiesLeft">Find the Exit!</p>
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="roomC">
        <ion-card-header>
          <ion-title>Room C</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <ion-text>
              <p *ngIf="!trollC">There is a troll in this room!</p>
              <p *ngIf="coinC">There is a Gold coin</p>
              <p *ngIf="trollC && !coinC">This room is empty, keep going!</p>
              <p *ngIf="!enemiesLeft">Find the Exit!</p>
            </ion-text>
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="roomD">
        <ion-card-header>
          <ion-title>Room D</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            <p *ngIf="coinD">There is a Silver coin</p>
            <p *ngIf="!coinD">This room is empty, keep going!</p>
            <p *ngIf="!enemiesLeft">Find the Exit!</p>
          </ion-text>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <ion-button (click)="northPsg()">North</ion-button>
      <ion-button (click)="southPsg()">South</ion-button>
      <ion-button (click)="eastPsg()">East</ion-button>
      <ion-button (click)="westPsg()">West</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <ion-button (click)="collectCoin()">Collect Coin</ion-button>
      <ion-button (click)="collectArrow()">Collect Arrow</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <ion-button (click)="attack()">Attack</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
