<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-item *ngIf="roomA"><ion-label>Room A</ion-label></ion-item>
    <ion-item *ngIf="roomB"><ion-label>Room B</ion-label></ion-item>
    <ion-item *ngIf="roomC"><ion-label>Room C</ion-label></ion-item>
    <ion-item *ngIf="roomD"><ion-label>Room D</ion-label></ion-item>
  </ion-row>
  <ion-row>
    <ion-button (click)="northPsg()">North Passage</ion-button>
    <ion-button (click)="southPsg()">South Passage</ion-button>
    <ion-button (click)="westPsg()">West Passage</ion-button>
    <ion-button (click)="eastPsg()">East Passage</ion-button>

  </ion-row>
</ion-content>
